.about-page{
    background:#0d0d0d;
}


.about-content{
  font-size:20px;
  font-family:"Arial";
  text-align:left;
  margin:20px;
  padding:20px;
  color: #ffffff;
  border-radius:25px;
  background:rgba(62, 62, 91,0.7)
    
}


.about-aboutus img{
    position:absolute;
    top:13px;
    right:375px;
    margin-left:60px;
    margin-bottom:100px;
    width:25%;
    height:5%;
    margin:auto;

}
.about-gamerules img{
    position:absolute;
    top:440px;
    right:345px;
    margin-left:60px;
    margin-bottom:100px;
    width:30%;
    height:5%;
    margin:auto;
    
}

.about-teammember img{
    position:absolute;
    top:1100px;
    right:300px;
    margin-left:60px;
    margin-bottom:100px;
    width:40%;
    height:4.5%;
    margin:auto;
    
}



.about-button{
  border-radius: 25px;
  text-align:center;
  padding-top: 15px;
  width: 40%;
  height: 5%;
  margin-top:100px;
  margin-left:275px;
  border:solid;
  border-width:1px;
  border-color:#00cccc;
  background:#00cccc;
  color:#ffffff;
  font-family:"Arial";
  font-size:40px;

}
