.about-page{
    background:#0d0d0d;
}


.about-content{
  font-size:18px;
  font-family:"Arial";
  text-align:left;
  margin-top:45px;
  margin-left:10px;
  margin-right:10px;
  padding:20px;
  color: #ffffff;
  border-radius:25px;
  background:rgba(62, 62, 91,0.7)
    
}


.about-aboutus img{
    position:absolute;
    top:10px;
    left:125px;
    height:5%;
    margin:auto;

}
.about-gamerules img{
    position:absolute;
    top: 215px;
    left: 105px;
    height:5%;
    margin:auto;
    
}

.about-teammember img{
    position:absolute;
    top: 490px;
    left: 90px;
    height:4.5%;
    margin:auto;
    
}


.about-button{
  position:absolute;
  left: 115px;
  top: 615px;
  border-radius: 25px;
  text-align:center;
  padding-top: 10px;
  padding-bottom:10px;
  width: 40%;
  background:#00cccc;
  color:#ffffff;
  font-family:"Arial";
  font-size:20px;

}
