.ranking-page{
    background:#0d0d0d;
}


.ranking-ranking img{
    position:absolute;
    top: 15px;
    left: 120px;
    height:5%;
    margin:auto;
    
}

table{
    position:absolute;
    top: 75px;
    left: 23px;
    font-size:17px;
    font-family:"Arial";
    text-align:center;
    color: #ffffff;
    
}
th, td{
  
    padding:1px;
    margin:1px;
    height:33px;
    width:105px;
}

th{
    background-color: rgba(62, 62, 91,0.7);
}

tr:nth-child(odd) {
    background-color: rgba(62, 62, 91,0.5);
    
}

.ranking-button{
    position:absolute;
    border-radius: 25px;
    text-align:center;
    background:#00cccc;
    color:#ffffff;
    font-family:"Arial";
    top: 600px;
    left: 115px;
    width: 40%;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
  
}
