::-webkit-scrollbar { 
    display: none; 
}

.title-page{
    background:#0d0d0d; /*#262626;*/
}

.title-button{
    border-radius: 25px;
    text-align:center;
    padding-top: 25px;
    width: 25%;
    height: 10%;
    margin:30px 500px 30px ;
    border:solid;
    border-width:1px;
    border-color:#00cccc;
    background:#00cccc;
    color:#ffffff;
    font-family:"Akronim";
    font-size:30px;
}
#title-level_chooser{
	overflow: auto;
}
#title-level_chooser ul{
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 30px;
}

#title-level_chooser li:first-child{
	display: block;
}

#title-level_chooser li:last-child{
	padding-bottom: 0;
}

#title-level_chooser li{
	padding-bottom: 20px;
}

