::-webkit-scrollbar { 
    display: none; 
}

.title-page{
    background:#0d0d0d; /*#262626;*/
}

.title-button{
    position: relative;
    border-radius: 25px;
    text-align:center;
    padding-top: 3vh;
    margin: 0 auto;
    margin-bottom: 5vh;
    width: 75vw;
    height: 5vh;
    border:solid;
    border-width:1px;
    border-color:#00cccc;
    background:#00cccc;
    color:#ffffff;
    font-family:"Arial";
    font-size: 10vw;
}
/*
.title-buttonb{
    position: relative;
    border-radius: 25px;
    text-align:center;
       margin: 0 auto;

    padding-top: 30px;
    width: 75%;
    height: 5%;
    border:solid;
    border-width:1px;
    border-color:#00cccc;
    background:#00cccc;
    color:#ffffff;
    font-family:"Arial";
    font-size:50px;   
}
*/

#title-level_chooser{
	overflow: auto;
}
#title-level_chooser ul{
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 30px;
}

#title-level_chooser li:first-child{
	display: block;
}

#title-level_chooser li:last-child{
	padding-bottom: 0;
}

#title-level_chooser li{
	padding-bottom: 20px;
}
.title-icon {
	text-align: center;
}
.title-icon img{
    position: relative;
    top:30px;
    width:30vw;
    margin-bottom: 5vh; 
}
.title-name {
	text-align: center;
}
.title-name img{
    position: relative;
    width: 60vw;
    height: 10vw;
    margin-bottom: 5vh;
}
